<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Package
    Name="Immich Folder Watch"
    Manufacturer="VoltKraft"
    Version="$(InstallerVersion)"
    UpgradeCode="F82E51D6-6D61-4A5D-B8AA-9D84A5D0D57D"
    Language="1033"
    Scope="perMachine"
    InstallerVersion="500">

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Property Id="LEGACYCONFIGPATH">
      <DirectorySearch Id="LegacyConfigDirectorySearch" Path="[INSTALLFOLDER]">
        <FileSearch Id="LegacyConfigFileSearch" Name="config.yaml" />
      </DirectorySearch>
    </Property>

    <Property Id="STRUCTUREDCONFIGPATH">
      <DirectorySearch Id="StructuredConfigDirectorySearch" Path="[INSTALLFOLDER]config">
        <FileSearch Id="StructuredConfigFileSearch" Name="config.yaml" />
      </DirectorySearch>
    </Property>

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Immich Folder Watch">
        <Directory Id="BINDIR" Name="bin" />
        <Directory Id="CONFIGDIR" Name="config" />
        <Directory Id="LOGSDIR" Name="logs" />
      </Directory>
    </StandardDirectory>
    <Feature Id="MainFeature" Title="Immich Folder Watch" Level="1">
      <ComponentGroupRef Id="PublishedApplicationFiles" />
      <ComponentRef Id="ServiceExecutableComponent" />
      <ComponentRef Id="LogsDirectoryComponent" />
      <ComponentRef Id="ConfigFileComponent" />
      <ComponentRef Id="LegacyConfigMigrationComponent" />
    </Feature>
  </Package>

  <Fragment>
    <ComponentGroup Id="PublishedApplicationFiles">
      <Files Directory="BINDIR" Include="$(PublishedAppDir)\**">
        <Exclude Files="$(PublishedAppDir)\ImmichFolderWatch.Daemon.exe" />
        <Exclude Files="$(PublishedAppDir)\**\*.pdb" />
      </Files>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="ServiceExecutableComponent" Directory="BINDIR" Guid="*">
      <File Id="ServiceExecutableFile" Source="$(PublishedAppDir)\ImmichFolderWatch.Daemon.exe" KeyPath="yes" />

      <ServiceInstall
        Id="ServiceInstaller"
        Name="ImmichFolderWatch"
        DisplayName="Immich Folder Watch"
        Description="Watches local folders and uploads new media to Immich."
        Type="ownProcess"
        Start="auto"
        ErrorControl="normal"
        Arguments='--config "[CONFIGDIR]config.yaml"'>
        <ServiceConfig DelayedAutoStart="yes" OnInstall="yes" OnReinstall="yes" />
      </ServiceInstall>

      <ServiceControl
        Id="ServiceController"
        Name="ImmichFolderWatch"
        Stop="both"
        Remove="uninstall"
        Wait="yes" />

      <util:ServiceConfig
        ServiceName="ImmichFolderWatch"
        FirstFailureActionType="restart"
        SecondFailureActionType="restart"
        ThirdFailureActionType="none"
        RestartServiceDelayInSeconds="5"
        ResetPeriodInDays="1" />
    </Component>
  </Fragment>

  <Fragment>
    <Component Id="LogsDirectoryComponent" Directory="LOGSDIR" Guid="*" Permanent="yes">
      <CreateFolder />
      <RegistryValue
        Root="HKLM"
        Key="Software\ImmichFolderWatch"
        Name="LogsDirectoryInstalled"
        Type="integer"
        Value="1"
        KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <Component
      Id="ConfigFileComponent"
      Directory="CONFIGDIR"
      Guid="*"
      Permanent="yes"
      NeverOverwrite="yes"
      Condition="NOT LEGACYCONFIGPATH OR STRUCTUREDCONFIGPATH">
      <File
        Id="DefaultConfigFile"
        Source="$(ExampleConfigPath)"
        Name="config.yaml"
        KeyPath="yes" />
    </Component>
  </Fragment>

  <Fragment>
    <Component
      Id="LegacyConfigMigrationComponent"
      Directory="CONFIGDIR"
      Guid="*"
      Permanent="yes"
      Condition="LEGACYCONFIGPATH AND NOT STRUCTUREDCONFIGPATH">
      <CreateFolder />
      <RegistryValue
        Root="HKLM"
        Key="Software\ImmichFolderWatch"
        Name="LegacyConfigMigrated"
        Type="integer"
        Value="1"
        KeyPath="yes" />
      <CopyFile
        Id="MoveLegacyConfigFile"
        SourceProperty="LEGACYCONFIGPATH"
        DestinationDirectory="CONFIGDIR"
        DestinationName="config.yaml"
        Delete="yes" />
    </Component>
  </Fragment>
</Wix>
